<script id="main" type="text/x-handlebars-template">
	<div id="site-container">
		<header>
			<h1>eric<span class="space">&nbsp;</span><span class="orange">howell</span></h1>
		</header>
		<section id="hero">
			<div class="hero-img-wrapper">
				<img srcset="{{hero.img.srcset}}" src="{{hero.img.src}}" alt="{{hero.img.alt}}" />
			</div>
			<div class="hero-txt-wrapper">
				<h2>{{hero.h2}}</h2>
				<p>{{{hero.p}}}</p>
			</div>
		</section>
		<main id="work">
			<h2 class="title">WORK</h2>
			{{#each work}}
			<section id="{{id}}" class="work-container {{img-direction-class}}">
				<div class="work-txt-wrapper">
					<h3>{{{h3}}}</h3>
					<h4>Client: <span>{{{client}}}</span></h4>
					{{#if stack}}<h4>Stack: <span>{{{stack}}}</span></h4>{{/if}}
					{{#if layout}}<h4>Layout: <span>{{{layout}}}</span></h4>{{/if}}
					<p>
						{{{p}}}
					</p>
					<div class="cta-container"></div>
				</div>

			{{/each}}
			<section id="amex" class="work-container img-right">
				<div class="work-txt-wrapper">
					<h3>Planning Calculator</h3>
					<h4>Client: <span>American Experss</span></h4>
					<h4>Stack: <span>Handlebars, Gulp, Vanilla&nbsp;JS</span></h4>
					<h4>Layout: <span>Amex&nbsp;DLS</span></h4>
					<p>
						Our AMEX client asked us to build them a planning calculator that displays monthly payment breakdowns from user inputted debt amounts. I used Handlebars templates to generate multiple calculators for separate regions and&nbsp;languages. 
					</p>
					<div class="cta-container">
						<a class="cta wipe" aria- href="../work/amex-calculator/aus/" target="_blank">View Australia Calculator</a>
						<a class="cta wipe" aria- href="../work/amex-calculator/ca_en/" target="_blank">View Canada Calculator (English)</a>
						<a class="cta wipe" aria- href="../work/amex-calculator/ca_fr/" target="_blank">View Canada Calculator (French)</a>
					</div>
				</div>
				<div class="work-img-wrapper">
					<a href="../work/amex-calculator/aus/" target="_blank">
						<img srcset="assets/amex@2x.png 1570w, assets/amex@1x.png 787w" src="assets/amex@2x.png" alt="AmEx Calculator">
					</a>
				</div>
			</section>
		</main>
		<footer>
			<a href="https://www.linkedin.com/in/workwithhhowell" target="_blank">
				<svg id="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path class="accent-color"
						d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z">
					</path>
				</svg>
			</a>
		</footer>
	</div>
</script>